<div id="app">
  <!-- <div v-for="post in posts"> -->
<!--     {{ post.title }}
    {{ post.body }}
    {{ post.upvotes - post.downvotes }} -->
  <!-- </div> -->
  <post v-for="post in posts" :post="post" :key="post.id"></post>
</div>
<template id="post-template">
  <li class="list-group-item">
    <!-- <i class="glyphicon glyphicon-chevron-up" @click="upvote"></i>
    <span class="label label-primary">{{ votes }}</span>
    <i class="glyphicon glyphicon-chevron-down" @click="downvote"></i> -->
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <p>By: {{ post.username }}</p>
  </li>
</template>