<%= link_to "Create a Post", new_post_path %>
<div id="app">
  <post v-for="post in posts" :post="post" :key="post.id"></post>
</div>

<%= render "templates/post-template", upvote: "upvote", downvote: "downvote" %>
