<li class="list-group-item">
  <div class="row">
    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 vote-arrows">
      <i class="glyphicon glyphicon-chevron-up"></i>
      <span class="label label-primary"><%= @post.upvotes - @post.downvotes %></span>
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
    <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
      <h1><%= @post.title %></h1>
      <p><%= @post.body %></p>
      <p>By: <%= @post.user.username %></p>
    </div>
  </div>
</li>

<div class="comments-container container">
  <div id="app2">
    <post v-for="post in posts" :post="post" :key="post.id"></post>
  </div>
</div>

<!-- Vue templates -->
<template id="post-template">
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 vote-arrows">
        <i class="glyphicon glyphicon-chevron-up" @click="upvoteComment"></i>
        <span class="label label-primary">{{ votes }}</span>
        <i class="glyphicon glyphicon-chevron-down" @click="downvoteComment"></i>
      </div>
      <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
        <h1>{{ post.title }}</h1>
        <p>{{ post.body }}</p>
        <p>By: {{ post.username }}</p>
      </div>
    </div>
  </li>
</template>